@font-face {
    font-family: "Basteleur";
    src: local('Basteleur'), url('../webfonts/Basteleur-Bold.ttf') format("truetype");
  }

.spell-container {
    width: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 500px;
    overflow: scroll;
    border-left: 1px solid wheat;
    padding-left: 5px;
    align-items: center;

}

h1 {
    font-family: Basteleur;
    background: linear-gradient(270deg, #19deab, #4b81e7);;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: AnimationName 0s ease infinite;
    -moz-animation: AnimationName 0s ease infinite;
    animation: AnimationName 0s ease infinite;


}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.spell-card {
    /* border: 5px wheat solid; */

    border-radius: 5px;
    width: 150px;
    height: 50px;
    padding:10px;
    margin: 5px;

    background-color: #3e3e3e;
    text-decoration: none;
    overflow: hidden;
    font-size: 8px;

}

.spell-card:hover {
    border: wheat solid 1px;

}

.spell-card h2 {
    font-size: 15px;

}

.main-content {
    margin: 10px;
    display: flex;
    width: auto;
}

.add-spell-button {
    max-height: 50px;
    margin: 10px;

}
