@font-face {
    font-family: "Basteleur";
    src: local('Basteleur'), url('../webfonts/Basteleur-Bold.ttf') format("truetype");
  }

.spell-container {
    width: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 500px;
    overflow: scroll;
    border-left: 1px solid wheat;
    padding-left: 5px;
    align-items: center;

}

h1 {
    font-family: Basteleur;
    background: linear-gradient(270deg, #19deab, #4b81e7);;
    -webkit-background-clip: text;
    background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: hue 10s infinite linear;
    animation: hue 10s infinite linear;


}





.spell-card {
    /* border: 5px wheat solid; */

    border-radius: 5px;
    width: 150px;
    height: 50px;
    padding:10px;
    margin: 5px;

    background-color: #3e3e3e;
    text-decoration: none;
    overflow: hidden;
    font-size: 4px;


}

.spell-card:hover {
    border: wheat solid 1px;

}

.spell-card h2 {
    font-size: 12px;

}

.spell-card p {
    background: linear-gradient(270deg, #19deab, #4b81e7);;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: shimmer 0s ease infinite;
    -moz-animation: shimmer 0s ease infinite;
    animation: shimmer 0s ease infinite;
}

.main-content {
    margin: 10px;
    display: flex;
    width: auto;
    height: auto;
}

.add-spell-button {
    max-height: 50px;
    margin: 10px;

}

.button-container {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;

}
