.grimoires-container {
    width: 440px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 1000px;
    overflow: scroll;
    border-left: 1px solid wheat;
    border-right: 1px solid wheat;
    padding-left: 5px;
    padding-right: 5px;
    align-items: center;

}

.grimoire-card {
    /* border: 5px wheat solid; */
    /* //box-sizing: border-box; */
    /* border-radius: 5px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 380px;
    height: 60px;
    padding: 5px;
    font: sans-serif;
    font-size: 20px;
    background-color: #3e3e3e;
    text-decoration: none;
    overflow: hidden;

    /* text-align: center; */
    border-bottom: wheat 1px solid;
    font-family: serif;

}

.grimoire-title {
    font-size: 20px;
    margin-left: 4px;
}

.grimoire-card:hover {
    border: wheat solid 1px;

}

.spell-card h2 {
    font-size: 15px;

}
